h1{
    text-align: center;
    background-color: gold;
    font-size: 100PX;
 }
  .beneficios{
    background-color: #ffffff;
    padding: 20px;
  {
    .imagembeneficios
    width: 50%;
  } 

  .principal{
    background-color:blueviolet;
    padding: 3030px; 
  }